* {
  box-sizing: border-box;
  font-family: Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

body {
  margin: 0 auto;
  background-color: #0b2434;
  padding: 5%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  border-radius: 5px;
  background-color: #f5f5f5;
}

.container {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 50px;
}

.die {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 10px;
  background-color: #fff;
  filter: drop-shadow(0 3px 0.1rem rgb(0 0 0 / 0.2));
  font-size: 2rem;
  cursor: pointer;
}
